<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>User name</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            </hr><br>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#messages">Изменить данные 1</a></li>
                <!--                <li><a data-toggle="tab" href="#settings">Menu 2</a></li>-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Вес:</h4></label>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Рост:</h4></label>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Возраст:</h4></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile"><h4>Активность:</h4></label>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Пол:</h4></label>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Базовый обмен веществ:</h4></label>
                            </div>

                            <div class="col-xs-6">
                                <label for="password"><h4>Суточная калорийность для снижения веса:</h4></label>
                            </div>

                            <div class="col-xs-6">
                                <label for="password"><h4>Суточная калорийность для поддержания веса:</h4></label>
                            </div>

                            <div class="col-xs-6">
                                <label for="password"><h4>Суточная калорийность для набора веса:</h4></label>
                            </div>

                        </div>
                    </form>
                    <hr>

                </div><!--/tab-pane-->
                <div class="tab-pane" id="messages">

                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Рост</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="введите рост (см)">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Вес</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="введите вес (кг)">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Возраст</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="введите возраст">
                            </div>
                        </div>
                        <br>

                        <p>Пол:</p>
                        <p><input name="dzen" type="radio" value="nedzen"> Мужской</p>
                        <p><input name="dzen" type="radio" value="dzen"> Женский</p>
<!--                        <p><input type="submit" value="Выбрать"></p>-->


                        <p>Выбери свою активность:</p>
                        <p><input name="dzen" type="radio" value="nedzen"> Низкая (сидячий образ жизни, работа в офисе)</p>
                        <p><input name="dzen" type="radio" value="dzen"> Средняя (1-3 тренировки в неделю)</p>
                        <p><input name="dzen" type="radio" value="pdzen" checked> Высокая (3 и более тренировок в неделю)</p>
<!--                        <p><input type="submit" value="Выбрать"></p>-->
                    </form>

<!--                    <form class="pure-form pure-form-aligned" th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">-->
<!--                        <fieldset>-->
<!--                    <div class="pure-controls">-->
<!--                        <button type="submit" class="pure-button pure-button-primary">Редактировать продукт</button>-->
<!--                    </div>-->
<!--                        </fieldset>-->
<!--                    </form>-->
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
</div>