<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header {
            padding: 80px;
            text-align: center;
            background: #1abc9c;
            color: white;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>MyFit</h1>
    <p>Здесь должна быть мотивирующая фраза</p>
</div>
<div class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th>Наименование продукта</th>
        <th>Калории</th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
        <th>Категории</th>
    </tr>
    </thead>
</table>
</div>
<div>
    <h3>Завтрак</h3> //наверное должны быть не статические названия, а из бд
<!--<div th:each="product:${dailyMenu.products}" >-->
<!--    <tr th:each="product : ${dailyMenu.products}">-->
    <tr th:each="product : ${break}">
        <br>
        <td><span th:text="${product.name}">  </span></td>-->
<!--        <td><span th:text="${product.name}">  </span></td>-->
<!--        <td><span th:text="${product.calories}">  </span></td>-->
<!--        <td><span th:text="${product.protein}">  </span></td>-->
<!--        <td><span th:text="${product.fat}">  </span></td>-->
<!--        <td><span th:text="${product.carbonhydrates}">  </span></td>-->
<!--        <td><span th:text="${product.category.name}">  </span></td>-->
    </tr>
</div>

<div>
    <h3>Обед</h3>
    <!--<div th:each="product:${dailyMenu.products}" >-->
    <tr th:each="product : ${dailyMenu.products}">
        <br>
        <td><span th:text="${product.name}">  </span></td>
        <td><span th:text="${product.calories}">  </span></td>
        <td><span th:text="${product.protein}">  </span></td>
        <td><span th:text="${product.fat}">  </span></td>
        <td><span th:text="${product.carbonhydrates}">  </span></td>
        <td><span th:text="${product.category.name}">  </span></td>
    </tr>
</div>

<div>
    <h3>Ужин</h3>
    <!--<div th:each="product:${dailyMenu.products}" >-->
    <tr th:each="product : ${dailyMenu.products}">
        <br>
        <td><span th:text="${product.name}">  </span></td>
        <td><span th:text="${product.calories}">  </span></td>
        <td><span th:text="${product.protein}">  </span></td>
        <td><span th:text="${product.fat}">  </span></td>
        <td><span th:text="${product.carbonhydrates}">  </span></td>
        <td><span th:text="${product.category.name}">  </span></td>
    </tr>
</div>
</body>
</html>